body {
	background-image: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url(../img/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.content {
	width: 55%;
	float: right;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 3em;
	color: white;
	font-family: 'Exo 2', sans-serif;
	padding-top: 30px;
}

.btnContainer {
	width: 100%;
	margin-top: 30px;
	padding: 0px 5%;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
	margin-left: 5%;
	margin-right: 5%;
}

.btn-default.outline {
	border: 3px solid #fff;
	font-family: 'Exo 2', sans-serif;
	color: #fff;
}

.btn-default.outline:hover, .btn-default.outline:focus {
	border-color: #bbb;
	color: #bbb;
}

.btn-default.outline:active, .btn-default.outline.active {
	border-color: #000;
	color: #000;
	box-shadow: none;
}